@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fira+Sans:wght@100&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial;
}
body{
    background-image: linear-gradient(to right, #000, rgb(54, 53, 53));
    color: #fff;
    /* padding: 10px; */
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.header h1 a{
    text-decoration: none;
    background-image: linear-gradient(120deg, #7b241c, #f1c40f );
    -webkit-background-clip: text;
    color: transparent;
}
.dropdowns ul{
    display: flex;
    gap: 1.5em;
}
.dropdowns ul li{
    list-style-type: none;
}
.dropdowns ul li a{
    text-decoration: none;
    color: #7B241C;
    transition: 1s;
}
.dropdowns ul li a:hover{
    background-image: linear-gradient(90deg, #7b241c, 60%, #ffcc01);
    -webkit-background-clip: text;
    color: transparent;
}
button{
    position: relative;
    background-color: transparent;
    color: #7e1b12;
    padding: 10px 25px;
    border: 1px solid #f1c40f;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
button::before{
    position: absolute;
    left: -100px;
    bottom: -103px;
    content: '';
    width: 180px;
    height: 100px;
    background: linear-gradient(110deg, #7b241c, 80%, #ffcc01);
    border: none;
    transition: 1s;
    transform: rotate(0.08turn);
    z-index: -1;
}
button:hover::before{
    width: 420px;
    height: 250px;
}
.body{
    position: relative;
    display: flex;
    gap: 20px;
    text-align: center;
    margin-top: 15px;
    padding: 30px;
}
.body img{
    position: relative;
    width: fit-content;
    border-radius: 0% 30%;
    padding: 10px;
    border: 1px solid gold;
}
#body-span{
    background-image: linear-gradient(120deg, #7b241c, #f1c40f );
    -webkit-background-clip: text;
    color: transparent;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1{
    opacity: 0.8;
}
.hero p{
    font-size: 14px;
    opacity: 0.7;
}
.hero h2{
    margin: 60px 0;
    text-align: left;
    font-size: 40px;
}
#body-span2{
    background-image: linear-gradient(120deg, #7b241c, #f1c40f );
    -webkit-background-clip: text;
    color: transparent;
}
#head-btn{
    color: #f1c40f;
    border: 1px solid #7e1b12;
}
#hero-btn{
    font-size: 18px;
}
.villian{
    background-color: rgb(173, 170, 170);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    text-align: center;
    padding: 50px 30px;
}
.villian span{
    background-image: linear-gradient(120deg, #7b241c, #f1c40f );
    -webkit-background-clip: text;
    color: transparent;
}
#inn{
    font-size: 45px;
}
.footer{
    padding: 50px 50px 10px 50px;
}
.footer h1{
    width: fit-content;
    background-image: linear-gradient(to right, #7b241c, 60%, #f1c40f );
    -webkit-background-clip: text;
    color: transparent;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.footer-items ul{
    display: flex;
    gap: 50px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #7b241c;
    transition: 1s ease-in-out;
}
.form{
    display: flex;
}
#email{
    width: 330px;
    height: 50px;
    background-color: transparent;
    padding: 0px 0px 0px 20px;
    border: 1px solid #ffcc01;
    outline: none;
    margin-top: 15px;
}
#submit{
    background-image: linear-gradient(90deg, #7b241c, #f1c40f );
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px 20px;
    border: 1px solid #ffcc01;
    outline: none;
    margin-top: 15px;
    cursor: pointer;
}
hr{
    border: 1px thin;
    border-color: #f1c40f;
}
.footer-items2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer-items2 img{
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.footer-items2 ul{
    display: flex;
    gap: 30px;
}
.footer ul li a:hover{
    background-image: linear-gradient(90deg, #7b241c, 60%, #ffcc01);
    -webkit-background-clip: text;
    color: transparent;
}
.footer-items3{
    color: #7b241c;
    margin-top: 40px;
}
